<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"> 
    <meta name="viewport" content='width=device-width, initial-scale=1'> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"> 
    <link href="carousel.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/users/style.css">
    <script src="js/script.js"></script>
    <title>PAM</title>
</head>
<body>
    {% include '_menu.html' %}


    <div  class="main-sidebar sidebar sidebar">
        <h1>Welcome {{ user.username }}</h1>
        <a href="{% url "users:update" %}">Update</a>
        <a href="{% url "users:logout" %}">Logout</a>
        <a href="{% url "users:passwordChange" %}">Change Password </a>
        <a href="{% url "users:ChangePhone" %}">Change Phone Number </a>
        <a href="{% url "portfolio:show_list" %}">Show list of portfolios</a>
        <a href="{% url "analysis:analysis" %}">Investment Policy </a>
        <a href="{% url "analysis:risk" %}">Risk tolerance</a>
        
    </div>
</body>
</html>