{% load staticfiles %}
<!DOCTYPE html>
<html>
<head><title>Portfolios</title></head>
<body>

    <h1>list Portfolios</h1>
    
 
    {% if portfolios %}
        {% for portfolio in portfolios %}
            <li><a href="">{{ portfolio.portfolio_name}}</a>
                <a  href="/portfolio/delete/{{portfolio.id}}">Delete</a>
            </li>

        {% endfor %}
    {% endif %}

    <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script src="{% static 'portfolio/portfolio.js' %}" type="application/javascript"></script>
        {% include 'portfolio/name_update.html' %}
</body>
</html>