<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>

</head>
<body>
    <div class="header">
        <h2 class="heading">{{portfolio.portfolio_name}}</h2>
        <button><a href="{% url 'portfolio:show_list' %}">list portfolios</a></button>
        <button><a href="{% url 'analysis:beta_analysis' id=portfolio.id %}">Run analysis</a></button>
       
        <div class="asset-container"></div>  
        <div class="form-container"></div>
        <!-- <div class="form-container-asset"></div> -->
        <div class="securities-container"></div>

    </div>
    
    <script id="asset-form-tmp" type="x-tmpl-mustache">
        <form action="/securities/create" method="POST" id="add_asset">
            {% csrf_token %}
            {{ form.AssetForm.as_p }}
            <input value="{{portfolio.id}}" id='portfolio_id' name='id_portfolio'>
             <input id='content-type' name='content_type'>
            <select id="choice" name="choice_asset"> </select>
            <input type="submit">
        </form>
    </script>
   
    <script id="menu-tmp" type="x-tmpl-mustache">
    {% verbatim %} 
        {{{form}}}
        <nav>
            <ul>
                <li><button id='bt1'>Stock</button></li>
                <li><button id='bt2'>Bond</button></li>
                <li><button id='bt3'>Exchange Traded Fund</button></li>
            </ul>
        </nav>
    
       
        {% endverbatim %}
    </script>



    <script id="asset-tmp" type="x-tmpl-mustache">
            {% verbatim %} 
        
                <ul class="list-group">
                    {{#asset}}
                        <li class="list-group-item">
                        <a  role="button" class="btn btn-default" id ='asset-link' data-content_type="{{content_type}}" data-content_object="{{content_object.id}}" href=""> 
                                {{id}}
                                ${{value}}
                                {{weight}}
                                {{quantity}}
                                ${{cost_basis}}
                                {{content_type}}  
                                {{content_id}} 
                                {{content_object.symbol}} 
                                
                                
                        </a>
                        <a role="button" class="btn btn-danger" id='delete' data-id_asset="{{id}}" href="" > Delete from portfolio
                        </a>
                            <div class="asset-info"></div>
                        </li>
                    {{/asset}}
                </ul>
                {{#portfolio_value}}
                     value of portfolio:  ${{.}} 
                {{/portfolio_value}}

            {% endverbatim %}   
           
           

       
            
    </script>


    <script id="stock-tmp" type="x-tmpl-mustache">
            {% verbatim %} 
        
                    {{#stock}}
                        <div>
                           
                            {{symbol}}
                            {{company_name}}
                            {{sector}}
                            {{industry}}
                            {{market_capitalization}}
                    
                        </div>
                    {{/stock}}

    
       
            {% endverbatim %}
    </script>

    <script id="bond-tmp" type="x-tmpl-mustache">

            {% verbatim %} 
        
                <div>
                    {{#bond}}
                        <ul>
                           
                            {{symbol}}
                            {{company_name}}
                            {{coupon}}
                            {{maturity_date}}
                            {{sp_rating}}
                            {{moody_rating}}
                    
                        </ul>
                    {{/bond}}
                </div>
    
       
            {% endverbatim %}


    </script>

    <script id="etf-tmp" type="x-tmpl-mustache">

            {% verbatim %} 
        
                <div>
                    {{#etf}}
                        <ul>
                           
                            {{symbol}}
                            {{name}}
                            {{category}}
                            {{fund_family}}
                            {{beta}}
                            {{alpha}}
                            {{r_squared}}
                            {{sharpe_ratio}}
                    
                        </ul>
                    {{/etf}}
                </div>
    
       
            {% endverbatim %}

           
    </script>

    <button id="cmd">generate PDF</button>

    <a role="button" class="btn btn-danger"href="{% url 'analysis:report_policy' %}" > generate Investment Policy
                        </a>



   <!-- jQuery -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
        <script src="{% static 'portfolio/read.js' %}" type="application/javascript"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>